<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand-cont">
      <a class="navbar-brand" href="/">
        <img
          src="https://bhopal.nfsu.ac.in/img/logo.png"
          width="70"
          alt=""
          style="margin-left: 2.5rem"
        />
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i
        class="fa-solid fa-bars"
        style="color: burlywood; font-size: 1.5rem"
      ></i>
    </button>
    <svg width="5" height="30" id="svgline">
      <path d="M 5 0 V 100" stroke="rgb(255,255,255,0.1)" stroke-width="1" />
    </svg>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item pop-out">
          <a class="nav-link" href="/#home-third">About</a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" href="/#home-fourth">Why IEEE?</a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" href="/#home-second">Events</a>
        </li>

        <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href="/ourteam">Our Team</a>
        </li>
        <li class="nav-item pop-out">
          <a class="nav-link" target="_blank" href="/connect">Contact Us</a>
        </li>
        <li class="nav-item pop-out">
          <a
            class="nav-link"
            target="_blank"
            href="https://forms.gle/J6g69bLCHHBZskCD9"
          >
            Speaker Registration
          </a>
        </li>
      </ul>

      <ul class="navbar-nav nav-second">
        <!--    <li class="nav-item">
          <button class="nav-link">
            <a
              href="#"
              style="appearance: none; text-decoration: none; color: white"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </button>
        </li>
        <svg width="10" height="35">
          <path
            d="M 5 0 V 100"
            stroke="rgb(255,255,255,0.1)"
            stroke-width="1"
          />
        </svg>
        <li class="nav-item">
          <button class="nav-link">
            <a
              href="#"
              style="appearance: none; text-decoration: none; color: white"
            >
              <i class="fa-solid fa-globe"></i>
            </a>
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link">
            <a
              href="#"
              style="appearance: none; text-decoration: none; color: white"
            >
              <i class="fa-solid fa-user"></i>
            </a>
          </button>
        </li> -->

        <button class="nav-link" id="download">
          <a
            href="https://forms.gle/YPxExNP54SQHPUdP6"
            style="appearance: none; text-decoration: none"
          >
            <b>Join Us</b>
          </a>
        </button>
      </ul>
    </div>
  </div>
</nav>

<!-- <svg width="10" height="100">
        <path d="M 5 0 V 100" stroke="white" stroke-width="1" />
      </svg> -->
