<%layout("/layouts/boilerplate.ejs")%>
<div class="about-big">
  <h1>About IEEE</h1>
  <br />
  <h1>
    <a href="/faqs">
      <button class="btn btn-primary">Click For FAQs</button>
    </a>
  </h1>

  <br /><br />
  <h2>
    THE IEEE <span style="text-shadow: 2px 2px lightcoral"> @ChapterNFSU</span>
  </h2>
  <p>
    The IEEE Student Branch at NFSU embodies innovation, collaboration, and
    professional growth, inspiring its members to excel in STEM fields. Through
    its innovative projects and initiatives, the branch fosters a supportive
    environment, promoting teamwork and cooperation among members. Equipping its
    members with valuable skills and resources, it prepares them for success in
    their academic and professional pursuits. With a focus on making a positive
    impact, the branch engages in community outreach and volunteer initiatives,
    contributing to societal advancement. Embracing diversity and inclusion, it
    celebrates the unique perspectives of its members and promotes a sense of
    belonging. Forward-thinking and resilient, the IEEE Student Branch at NFSU
    remains at the forefront of technological advancements, driven by a vision
    for a brighter future and a commitment to excellence.
  </p>
  <h2>THE IEEE REGION 10</h2>
  <p>
    The IEEE Region 10, or sometimes referred to the Asia Pacific Region
    comprises 4 Councils, 47 Sections, 6 Sub-sections, 211 Chapters and 245
    student branches. It covers a geographical area stretching from South Korea
    and Japan in the north-east to New Zealand in the south, and Pakistan in the
    west. With a membership in of about 60,000, it is one of the largest and
    fastest growing regions in IEEE. There are 10 sections in India which comes
    under IEEE Region 10.
  </p>
  <h2>THE IEEE</h2>
  <p>
    The IEEE formed in 1963 with the merger of the AIEE (American institute of
    Electrical Engineers, formed in 1884), and the IRE (Institute of Radio
    Engineers, formed in 1912) and it stands for Institute of Electrical and
    Electronic Engineers, an association dedicated to advancing innovation and
    technological excellence for the benefit of humanity, is the world’s largest
    technical professional society and serve to professionals involved in all
    aspects of the electrical, electronic, and computing fields and related
    areas of science and technology that underlie modern civilization. The IEEE
    has: More than 423,000 members in more than 160 countries, more than 50
    percent of whom are from outside the United States. More than 117,000
    Student members. 334 Sections in ten geographic Regions worldwide. 2,116
    Chapters that unite local members with similar technical interests. 3,005
    Student Branches at colleges and universities in over 100 countries. 1,481
    Student Branch chapters of IEEE technical societies. 486 affinity groups;
    IEEE affinity groups are non-technical sub-units of one or more Sections or
    a Council. The affinity group patent entities are the IEEE-USA Consultants’
    Network, Young Professionals (YP), Women in Engineering(WIE), Life Members
    (LM), and IEEE Entrepreneurship. It Has 39 Societies and seven technical
    councils representing the wide range of IEEE technical interests. More than
    4 million documents in the IEEE explore Digital Library, with more than 8
    million downloads each month. It Has over 1,300 active standards and more
    than 500 standards under development. It publishes about 200 transactions,
    journals, and magazines. It Sponsors more than 1,800 conferences in 95
    countries while: Partnering with more than 1,300 non-IEEE entities globally,
    Attracting more than 485,000 conference attendees, Publishing more than
    1,500 conference proceedings via IEEE explore.
  </p>
  <h2>THE IEEE GUJRAT SECTION</h2>
  <p>
    The IEEE Gujarat section is one of the sections in the Asia-Pacific region.
    If for no other reason than that Mahatma Gandhi was a Gujarati by birth, and
    had spearheaded the Indian Freedom Struggle from his ashram at Ahmedabad
    where the IEEE Gujarat Section is headquartered. IEEE activities in Gujarat
    first started in 1988 at the city of Vadodara (earlier known as Baroda),
    when first unit of IEEE student branch was established at the Dept. of
    Electrical Engineering, Faculty of Technology & Engineering, M.S.University.
    Dr. A. K. Aggarwal was the first Branch Counselor. Mr. J. S. Negi, the then
    Chief Executive of M/s Jyoti Ltd, had taken the initiative for submitting
    the petition for forming the Vadodara Sub-Section under the Bombay Section.
    IEEE accepted the petition and the Vadodara sub-section was formed with Mr.
    J. S. Negi as the interim Chair in the year 1988. Later IEEE agreed to
    change the name of the entity to Gujarat Sub-section. On 15th August 1990
    the Sub-section was upgraded to a full fledged Section to take its place as
    one among the 300 sections in the world spread out over 150 countries. The
    IEEE Gujarat University Student Branch was the next student branch unit
    established in 1994. The IEEE Gujarat Section was carved out from the IEEE
    Bombay Section mainly for logistic reasons. Gujarat Section was first
    brought to international attention in 1997 with the holding a twin
    conference on’ Internet Security’ and EEE in the petroleum sector both
    downstream and upstream. This twin conference was held in the premises of
    the Institute of Reservoir Studies of the ONGC. Prominent IEEE figures who
    attended included Dr. Charles Rubenstein then the editor of the IEEE
    Transactions in Engineering Management. The conference was followed by the
    visit of the Technical Activities Board (TAB) of the IEEE led by President
    IEEE Dr. Kenneth Laker, President-Elect Dr. Mike Adler, Mr. Pete(Wes)
    Spencer a Power Utilities owner, Mrs. Mary Ward-Callan the Managing Director
    of the TAB and Ms. Fanny Su Behn Hoi of the IEEE Region 10 HQ at Singapore.
    Dr. Vijay Bhargava, the then candidate for the post of the President IEEE
    Communications Society and Mrs. Laker also accompanied the group. On this
    occasion, a student branch was inaugurated at the Nirma Institute of
    Technology. Gujarat Section has always been pioneer in organizing programs
    for professional and students. Its annual event ‘Sampark’ gives a platform
    to student members to design IEEE events of the year as per their own need
    and requirement. This helps IEEE student members of the Section to be their
    own leader. ‘Sampark’ had also been featured in one of the issue of ‘The
    Institute’. Currently IEEE Gujarat Section has thirteen chapters covering 15
    of the IEEE societies/technical councils and over 30 IEEE Student Branches.
  </p>
</div>
