<%layout("/layouts/boilerplate.ejs")%>

<div class="contactus">
  <h1 class="pop-out">Contact Us</h1>
  <br /><br />
  <div class="contact-cont">
    <div class="team-cards">
      <div class="person">
        <img      loading="lazy" src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt=""/ >
        <br />
        <h2>Dr. Ahlad Kumar</h2>
        <br />
        <h4>Chief Coordinator</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>ahlad.kumar@nfsu.ac.in</p>
      </div>
      <div class="person">
        <img      loading="lazy"
        src="https://media.licdn.com/dms/image/D5603AQEVn1vqFHtbmw/profile-displayphoto-shrink_400_400/0/1720160864454?e=1728518400&v=beta&t=cxqStKxL1EG3Pc-qtzJmO1YNEbF3fHG9Bwm7ogiNzD4"
        alt=""/ >
        <br />
        <h2>Mr. Debjyoti Gupta</h2>
        <br />
        <h4>Chairman-Branch</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>+91 91574-84327</p>
        <p>debojyoti.dfis1232517@nfsu.ac.in</p>
      </div>
      <div class="person">
        <img      loading="lazy"
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712023898/Prutha_Bhatt_qmldop.jpg"
        alt=""/ >
        <br />
        <h2>Ms. Prutha Bhatt</h2>
        <br />
        <h4>Assitance Team Head</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>+91 94269-71365</p>
        <p>pruthadotbhatt@gmail.com</p>
      </div>
    </div>
    <div class="map-div">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12334.051958063006!2d72.65733148966417!3d23.2090179613326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2baae9f6f05d%3A0x4f9616711f2fb4e5!2sNational%20Forensic%20Sciences%20University!5e0!3m2!1sen!2sin!4v1710497409261!5m2!1sen!2sin"
        id="map"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
