<%layout("/layouts/boilerplate.ejs")%>

<div class="contactus">
  <h1 class="pop-out">Contact Us</h1>
  <br /><br />
  <div class="contact-cont">
    <div class="team-cards">
      <div class="person">
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt=""/ >
        <br />
        <h2>Dr. Ahlad Kumar</h2>
        <br />
        <h4>Chief Coordinator</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>+91 99538-78218</p>
        <p>ieeesb@nfsu.ac.in</p>
      </div>
      <div class="person">
        <img
        src="https://media.licdn.com/dms/image/D5603AQFa6ecYy58uzA/profile-displayphoto-shrink_800_800/0/1705847039645?e=1717027200&v=beta&t=viyJWHAc7ttlZDdiPo_Z0BD7rPP6bSD9Jbb671T8jEc"
        alt=""/ >
        <br />
        <h2>Mr. Debjyoti Gupta</h2>
        <br />
        <h4>Chairman Branch</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>+91 91574-84327</p>
        <p>ieeesb@nfsu.ac.in</p>
      </div>
      <div class="person">
        <img
        src="https://media.licdn.com/dms/image/D5603AQFa6ecYy58uzA/profile-displayphoto-shrink_800_800/0/1705847039645?e=1717027200&v=beta&t=viyJWHAc7ttlZDdiPo_Z0BD7rPP6bSD9Jbb671T8jEc"
        alt=""/ >
        <br />
        <h2>Mr. Secretary</h2>
        <br />
        <h4>Assitance Team Head</h4>
        <p>School of Cyber Security & Digital Forensics</p>
        <p>+91 00000-00000</p>
        <p>ieeesb@nfsu.ac.in</p>
      </div>
    </div>
    <div class="map-div">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12334.051958063006!2d72.65733148966417!3d23.2090179613326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2baae9f6f05d%3A0x4f9616711f2fb4e5!2sNational%20Forensic%20Sciences%20University!5e0!3m2!1sen!2sin!4v1710497409261!5m2!1sen!2sin"
        id="map"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
