<%layout("/layouts/boilerplate.ejs")%>
<div class="events-big" id="blur">
  <h1>All Events</h1>

  <div class="events-cont cards" style="flex-wrap: wrap; gap: 5rem">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            loading="lazy"
            src="https://media.licdn.com/dms/image/D5622AQEOcuUlJp8EdQ/feedshare-shrink_800/0/1718821374323?e=1722470400&v=beta&t=HBbnzZeVchOSiao3QxCjXG_Hv8mSRuH86h8_34fK4ec"
            class="img-fluid"
            style="width: fit-content; height: 100%; object-fit: cover"
            alt="IEEE Poster..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div>
              <h6 class="card-title">
                Expert session on Introduction of IT & OT Cyber security with
                Mr. Divan Raimagia
              </h6>
              <p class="card-text">
                Mr. Divan Raimagia, Chief Information Security Officer & Head of
                Cyber Security, Adani Green Energy Ltd. speaks about the
                advanced prospects of IT & OT Cyber security.
              </p>
            </div>
            <br />

            <div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="/events"
                    >See More</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            loading="lazy"
            src="https://lh3.googleusercontent.com/d/15fvSJpgtVoHeq9JoHgyu4RDm1qGeztDN"
            class="img-fluid"
            style="width: fit-content; height: 100%; object-fit: cover"
            alt="IEEE Poster..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title">
              Opportunities and Challenges in DNA Data Storage
            </h6>
            <p class="card-text">
              Prof.Manish K Gupta , shared profound insights on the
              "Opportunities and Challenges in DNA Data Storage." 🧬🔍
            </p>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="/events">See More</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            loading="lazy"
            src="https://media.licdn.com/dms/image/D4D22AQF_ZIOhDDqfQg/feedshare-shrink_2048_1536/0/1695461031994?e=1722470400&v=beta&t=IsdixyHpZO0hFR3zsdCJ87HGVdAyhF-DKIFIgU3ekpw"
            class="img-fluid"
            style="width: fit-content; height: 100%; object-fit: cover"
            alt="IEEE Poster..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title">IEEE Student Branch Inauguration, NFSU</h6>
            <p class="card-text">
              IEEE NFSU Student Branch Inauguration Session introduced
              participants to IEEE, the world's largest technical professional
              society.Session introduced participants to IEEE, the world's
              largest technical professional society.
            </p>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="/events">See More</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
