<%layout("/layouts/boilerplate.ejs")%>
<div id="blob"></div>

<div class="homebig" id="blur">
  <div class="home-first">
    <div class="first-video">
      <video
        playsinline=""
        id="firstvideo"
        disableremoteplayback=""
        autoplay=""
        muted=""
        loop=""
      >
        <source
          src="https://res.cloudinary.com/ddxv0iwcs/video/upload/v1736489244/Untitled_Design_Video_ulu09m.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="first-video">
      <video
        playsinline=""
        id="vid-back"
        disableremoteplayback=""
        autoplay=""
        muted=""
        loop=""
      >
        <source
          src="https://res.cloudinary.com/ddxv0iwcs/video/upload/v1736489244/Untitled_Design_Video_ulu09m.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="home-first-content">
      <!-- <img
        src="https://ieee-nfsu-sb.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fieee-nfsu-logo.195d6dfd.png&w=1920&q=75"
        alt=""
        loading="lazy"
        class="first-image pop-out"
      /> -->
      <img
        src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712135117/Screenshot_2024-04-03_at_2.35.06_PM_np89tf.png"
        alt="Logo..."
        loading="lazy"
        class="first-image pop-out"
      />

      <h1 class="pop-out">
        <span><span id="ieeename">IEEE</span> <br /> </span
        ><span style="text-shadow: 2px 2px lightcoral">Chapter "NFSU" </span>
      </h1>
      <br />
      <p class="" id="typed-text"></p>

      <br />

      <div class="for-mob-video">
        <video
          playsinline=""
          style="display: none"
          disableremoteplayback=""
          autoplay=""
          muted=""
          loop=""
        >
          <source
            src="https://res.cloudinary.com/ddxv0iwcs/video/upload/v1736489244/Untitled_Design_Video_ulu09m.mp4"
            type="video/mp4"
          />
        </video>
      </div>

      <button class="nav-link home-join" id="download">
        <a
          href="https://forms.gle/odRma4dm9os4S3Sm9"
          style="text-decoration: none"
        >
          <b>Join Us</b>
        </a>
      </button>
      <a href="#home-third" style="text-decoration: none">
        <button style="color: white" class="btn learn-more">Learn more</button>
      </a>
    </div>
  </div>
  <div class="home-second" id="home-second">
    <div class="title-line">
      <h3 class="pop-out">News@IEEENfsu</h3>
      <!-- <button style="color: white" class="btn btn-outline-secondary pop-out">
        View All
      </button> -->
      <ul class="navbar-nav">
        <li class="nav-item pop-out">
          <a class="nav-link" href="/events">All Events</a>
        </li>
      </ul>
    </div>
    <br /><br />
    <div class="cards">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379404/WhatsApp_Image_2024-11-23_at_11.38.45_2_uydmkj.jpg"
              class="img-fluid"
              style="width: fit-content; height: 100%; object-fit: cover"
              alt="IEEE Poster..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div>
                <h6 class="card-title">
                  Exploring the World of Communication: HAM Radio Live Demo by
                  Mr. Pravin Chandulal Valera
                </h6>
                <p class="card-text">
                  An inspiring session at NFSU, featuring Mr. Pravin Chandulal
                  Valera, a renowned HAM radio operator, who shared his insights
                  on the world of amateur radio, its applications, and its
                  potential for innovation and service.
                </p>
              </div>
              <br />

              <div>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/events/4">See Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              loading="lazy"
              src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1724963363/nnxvwmjsit11gusqlv7f.jpg"
              class="img-fluid"
              style="width: fit-content; height: 100%; object-fit: cover"
              alt="IEEE Poster..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div>
                <h6 class="card-title">
                  Introduction of IT & OT Cyber security with Mr. Divan Raimagia
                </h6>
                <p class="card-text">
                  Mr. Divan Raimagia, Head of Cyber Security, Adani Green Energy
                  Ltd. speaks about the advanced prospects of IT & OT Cyber
                  security.
                </p>
              </div>
              <br />

              <div>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/events/3">See Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              loading="lazy"
              src="https://lh3.googleusercontent.com/d/15fvSJpgtVoHeq9JoHgyu4RDm1qGeztDN"
              class="img-fluid"
              style="width: fit-content; height: 100%; object-fit: cover"
              alt="IEEE Poster..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 class="card-title">
                Opportunities and Challenges in DNA Data Storage
              </h6>
              <p class="card-text">
                Prof.Manish K Gupta , shared profound insights on the
                "Opportunities and Challenges in DNA Data Storage." 🧬🔍
              </p>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/events/2">See Details</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              loading="lazy"
              src="https://pbs.twimg.com/profile_images/474591466749034496/2-H1zqWf_400x400.jpeg"
              class="img-fluid"
              style="width: fit-content; height: 100%; object-fit: cover"
              alt="IEEE Poster..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h6 class="card-title">IEEE Student Branch Inauguration, NFSU</h6>
              <p class="card-text">
                IEEE NFSU Student Branch Inauguration Session introduced
                participants to IEEE, the world's largest technical professional
                society.Session introduced participants to IEEE, the world's
                largest technical professional society.
              </p>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/events/1">See Details</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stats-banner-big">
    <h1 style="text-align: center" class="stats-banner-title">
      Some Facts Of IEEE
      <span>@ChapterNFSU </span>
    </h1>

    <div class="stats-banner">
      <div
        class="banner-div"
        style="
          background: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379376/WhatsApp_Image_2024-11-23_at_11.38.44_1_gw1dai.jpg);
          background-size: cover;
        "
      >
        <!-- <img
          src=""
          alt=""
        /> -->
        <div class="overlay"></div>
        <h3>
          100+
          <br />Members
        </h3>
      </div>
      <div
        class="banner-div"
        id="banner-div-2"
        style="
          background: url(https://res.cloudinary.com/ddxv0iwcs/image/upload/v1723554451/IMG-20240611-WA0005_kwucdy.jpg);
          background-size: cover;
        "
      >
        <!-- <img src="" alt="" /> -->
        <div class="overlay"></div>

        <h3>
          30+
          <br />Events
        </h3>
      </div>
      <div
        class="banner-div"
        id="banner-div-3"
        style="
          background: url(https://beta.nfsu.ac.in/Uploads/gallary/Image_20230916211916.jpg);
          background-size: cover;
        "
      >
        <!-- <img
          src=""
          alt=""
        /> -->
        <div class="overlay"></div>

        <h3>
          15+
          <br />Awards
        </h3>
      </div>
    </div>
  </div>
  <div class="home-third" id="home-third">
    <h6 class="up-title pop-out">A Word from Our Esteemed Chairperson</h6>
    <br /><br />
    <div class="row">
      <div class="col-md-6">
        <h1 class="pop-out">
          Power that can keep <br />
          up with the wildest <br />imaginations.
        </h1>
        <br />
        <p class="pop-out">
          In the ever-evolving landscape of technology, the IEEE Student Branch
          at the National Forensic Sciences University (NFSU) stands as a beacon
          of innovation and knowledge dissemination. Nestled within a
          prestigious institution renowned for its expertise in forensic
          sciences, this student branch is a hub where cybersecurity, digital
          forensics, and cutting-edge developments converge to shape the future
          of both technology and forensic investigations.
        </p>
      </div>
      <div class="col-md-6" id="img-div-msg">
        <img
          loading="lazy"
          class="pop-out"
          src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg"
          alt="Description"
        />
        <h6 class="pop-out" style="text-align: center">
          Dr. Ahlad Kumar <br />
          <br />
          Chairperson, IEEE <br />
          Student's Branch, <br />
          National Forensic Sciences University
        </h6>
      </div>
    </div>
    <br />
    <a href="/about" style="text-decoration: none">
      <button
        class="nav-link home-join pop-out whynfsubtn"
        id="download"
        style="color: wheat"
      >
        <b>Learn More</b>
      </button>
    </a>
  </div>
  <div class="home-fourth" id="home-fourth">
    <h1 style="text-align: center" class="">
      Why IEEE
      <span> @ChapterNFSU ?</span>
    </h1>
    <br />
    <br />
    <div class="cards">
      <div class="card">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711955287/Screenshot_2024-04-01_at_12.37.57_PM_rjpuc9.png"
          class="card-img-top"
          alt="IEEE Poster..."
        />
        <div class="card-body">
          <h4 class="card-title pop-out" style="text-align: center">
            <br />
            Joining A Global Network
          </h4>

          <p class="card-text">
            Attending international conferences, workshops, and technical
            meetings organized by IEEE NPSS provides opportunities for students
            to forge connections with leading experts and luminaries in the
            field.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
      <div class="card">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711955359/Screenshot_2024-04-01_at_12.39.09_PM_e4giau.png"
          class="card-img-top"
          alt="IEEE Poster..."
        />
        <div class="card-body">
          <h4 class="card-title pop-out" style="text-align: center">
            <br />

            Keeping You Technically Updated
          </h4>
          <p class="card-text">
            IEEE ensures that students stay abreast of the latest developments,
            research findings, and technological advancements in the fields of
            electronics and electricals.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
      <div class="card">
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1711955218/Screenshot_2024-04-01_at_12.35.35_PM_ku6dk3.png"
          class="card-img-top"
          alt="IEEE Poster..."
        />
        <div class="card-body">
          <h4 class="card-title pop-out" style="text-align: center">
            <br />

            Hands-on Projects and Experiential Learning
          </h4>
          <p class="card-text">
            IEEE events challenge students to apply their knowledge and skills
            to solve practical problems, fostering creativity, teamwork, and
            innovation.
          </p>
          <br />
        </div>
        <a
          target="_blank"
          href="https://www.nfsu.ac.in/academic"
          style="display: none"
        ></a>
      </div>
    </div>
  </div>
</div>
<script>
  //first p's moving text
  const text =
    "IEEE NFSU stands at the forefront of pioneering excellence, pushing the boundaries of forensic science research, education, and practice. It represents a beacon of knowledge and innovation in the field of forensic science.";
  const delay = 50; // Adjust the typing speed (milliseconds per character)
  function typeText() {
    if (index < text.length) {
      document.getElementById("typed-text").innerHTML += text.charAt(index);
      index++;
      setTimeout(typeText, delay);
    }
  }

  let index = 0;

  document.addEventListener("DOMContentLoaded", () => {
    let no = 23 * 1;
    if (window.scrollY == 0) {
      no += window.scrollY;
    } //if i make the no being calculated at the time of dom load then it actually works everytime otherwise it sometimes works and sometimes doesnt
    let firstVideo = document.querySelector("#firstvideo");
    firstVideo.style.marginLeft = no + "rem";

    typeText();
  });
</script>
