<%layout("/layouts/boilerplate.ejs")%>

<div class="big-div-team">
  <div class="team-banner">
    <h1 class="pop-out">
      <div>IEEE</div>
      Core Team
    </h1>
    <br /><br />
    <h2 id="team-banner-h2" class="pop-out">
      Feel free to reach out to us at ieeesb@nfsu.ac.in
    </h2>
  </div>

  <div class="team-b">
    <h1 class="team-title pop-out">Overall Coordinators</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg" alt="" />
        <br />
        <h2>Dean</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Naveen Kumar Choudhary</h3>
      </div>
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/168.jpg" alt="" />
        <br />
        <h2>Associate Dean</h2>
        <p>School of Cyber Security & Digital Forensics</p>

        <h3>Dr. Parag Rughani</h3>
      </div>
    </div>
  </div>
  <div class="team-a">
    <h1 class="team-title pop-out">Head of Branch</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
      <div class="person">
        <br /><br />
        <img
          src="https://media.licdn.com/dms/image/D5603AQFa6ecYy58uzA/profile-displayphoto-shrink_800_800/0/1705847039645?e=1717027200&v=beta&t=viyJWHAc7ttlZDdiPo_Z0BD7rPP6bSD9Jbb671T8jEc"
          alt=""
        />
        <br />
        <h2>Secretary</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Debjyoti Gupta</h3>
      </div>
    </div>
  </div>
  <div class="team-b">
    <h1 class="team-title pop-out">Branch Departments</h1>
    <br />
    <h1 class="team-title pop-out" style="color: midnightblue">"WEB Team"</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/c_crop,ar_1:1/v1711880504/WhatsApp_Image_2024-03-31_at_15.51.11_rjjrbe.jpg"
          alt=""
        />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
    </div>
  </div>
  <div class="team-a">
    <br />
    <h1 class="team-title pop-out" style="color: midnightblue">"WEB Team"</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
    </div>
  </div>
  <div class="team-b">
    <br />
    <h1 class="team-title pop-out" style="color: midnightblue">"WEB Team"</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
    </div>
  </div>
  <div class="team-a">
    <br />
    <h1 class="team-title pop-out" style="color: midnightblue">"WEB Team"</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
      <div class="person">
        <br /><br />
        <img src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg" alt="" />
        <br />
        <h2>Associate Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
      </div>
    </div>
  </div>
</div>
