<%layout("/layouts/boilerplate.ejs")%>

<div class="big-div-team">
  <div class="team-banner">
    <h1 class="pop-out">
      <div>IEEE</div>
      Core Team
    </h1>
    <br /><br />
    <h2 id="team-banner-h2" class="pop-out">
      Feel free to reach out to us at ieeesb@nfsu.ac.in
    </h2>
  </div>

  <div class="team-b">
    <h1 class="team-title pop-out">Overall Coordinators</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://beta.nfsu.ac.in//Uploads/Profile/4.jpg"
          alt=""
        />
        <br />
        <h2>Dean</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Prof. Dr. Naveen Kumar Choudhary</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://beta.nfsu.ac.in//Uploads/Profile/168.jpg"
          alt=""
        />
        <br />
        <h2>Associate Dean</h2>
        <p>School of Cyber Security & Digital Forensics</p>

        <h3>Dr. Parag Rughani</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <h1 class="team-title pop-out">Head of Branch</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://beta.nfsu.ac.in//Uploads/Profile/163.jpg"
          alt=""
        />
        <br />
        <h2>Assistant Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ahlad Kumar</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://beta.nfsu.ac.in//Uploads/Profile/164.jpg"
          alt=""
        />
        <br />
        <h2>Assistant Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Vijeta Khare</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://media.licdn.com/dms/image/D4D16AQHZIjcKvL7pTA/profile-displaybackgroundimage-shrink_350_1400/0/1688747470051?e=1728518400&v=beta&t=NMe8B5ra5Lhjgb-Ch_V4b_X-x2c3PzlBR8UqmKh0Rn4"
          alt=""
        />
        <br />
        <h2>Assistant Professor</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Dr. Ravirajsinh Vaghela</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://media.licdn.com/dms/image/D5603AQEVn1vqFHtbmw/profile-displayphoto-shrink_400_400/0/1720160864454?e=1728518400&v=beta&t=cxqStKxL1EG3Pc-qtzJmO1YNEbF3fHG9Bwm7ogiNzD4"
          alt=""
        />
        <br />
        <h2>Chairman-Branch</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Debojyoti Gupta</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/debojyoti-gupta"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/djg.28"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="PhoneTo:9157484327"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="team-b">
    <h1 class="team-title pop-out">Branch Departments</h1>
    <br />
    <h1 class="team-title pop-out" style="color: midnightblue">WEB Team</h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/c_crop,ar_1:1/v1711880504/WhatsApp_Image_2024-03-31_at_15.51.11_rjjrbe.jpg"
          alt=""
        />
        <br />
        <h2>Website Developer</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Adil Dyer</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/adildyer/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://twitter.com/SmileItsAdil"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/riddikulus_adil/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="PhoneTo:9252180504"
          >
            <i class="fa-solid fa-phone-volume" style="color: #1877f2"></i>
          </a>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712127965/WhatsApp_Image_2024-04-03_at_12.10.52_aibyq0.jpg"
          alt=""
        />
        <br />
        <h2>Poster Designer</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Sai Vishwaa</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/sai-vishwaa-n-578409292/?originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
          <!--
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>
-->
          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/saivishwaa_sv/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="team-a">
    <br />
    <h1 class="team-title pop-out" style="color: midnightblue">
      Branch-Secretaries
    </h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712130398/IMG_2659_abdiir.jpg"
          alt=""
        />
        <br />
        <h2>Vice-Chair</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Ms. Soumitri Barury</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://twitter.com/Soumitri_B"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/sou_mee4/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://media.licdn.com/dms/image/D4D03AQHXF6uxJxMVJw/profile-displayphoto-shrink_400_400/0/1694204897080?e=1728518400&v=beta&t=JV99rBc7cNlssUpLhdI4kDJ_f870KzkaiiCqss4qiQM"
          alt=""
        />
        <br />
        <h2>Vice-Chair</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Mr. Abhishek Kanzariya</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/abhishek-kanzariya-0616a7234/?originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://twitter.com/Abhishek_3303"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/mr_.a_k_03/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712023898/Prutha_Bhatt_qmldop.jpg"
          alt=""
        />
        <br />
        <h2>Secretary</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Ms. Prutha Bhatt</h3>
        <div class="socials row pop-out">
          <!-- <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a> -->
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712574701/AARZOO_JAIN_iim7b7.jpg"
          alt=""
        />
        <br />
        <h2>Secretary</h2>
        <p>School of Cyber Security & Digital Forensics</p>
        <h3>Ms. Aarzoo Jain</h3>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/AarzooJain/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/jainnyaarzoo/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="team-b">
    <br />
    <h1 class="team-title pop-out" style="color: midnightblue">
      Auxiliary Team
    </h1>

    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712129248/Kunj_Buddhdev_krry6l.jpg"
          alt=""
        />

        <br />
        <h3>Mr. Kunj Buddhdev</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://in.linkedin.com/in/kunj-buddhdev-725b64255"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://twitter.com/KunjBuddhdev"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/kunj_buddhdev88/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712027442/Amala_Sunil_bwpff2.jpg"
          alt=""
        />
        <br />

        <h3>Ms. Amala Sunil</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <!-- <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/company/ieee-nfsu-sb/?trk=organization_guest_main-feed-card_reshare_feed-actor-name&originalSubdomain=in"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.facebook.com/nfsuofficial/"
            ><i class="fa-brands fa-facebook" style="color: #1877f2"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/nfsu.official/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a> -->
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712129248/WhatsApp_Image_2024-04-02_at_15.21.02_y2rwa2.jpg"
          alt=""
        />
        <br />
        <h3>Mr. Aum Prajapati</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/aum-prajapati/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="  https://www.instagram.com/abcxyz_1230321/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712027441/Kushagra_Trivedi_ivmzqi.jpg"
          alt=""
        />
        <br />
        <h3>Mr. Kushagra Trivedi</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/kushagra---trivedi"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712027443/BharatSingh.JPG_qmylfs.jpg"
          alt=""
        />
        <br />
        <h3>Mr. Bharatsingh Rajpurohit</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/bsraigur/"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/bsraigur/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712027444/Ravindra_jhariya_koyib3.jpg"
          alt=""
        />
        <br />
        <h3>Mr. Ravindra Jhariya</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="www.linkedin.com/in/ravindra-kumar-jhariya-962b99290"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://twitter.com/Rknfsu042"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/Gtrv1992/?hl=en"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="team-cards">
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1712027442/Mujpara_Hemang_okkpnl.jpg"
          alt=""
        />
        <br />
        <h3>Mr. Mujpara Hemang</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://www.linkedin.com/in/hemang-mujpara-9b9a271b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/_hemang_soni_?igsh=dHZiY2N2ejRkM2s3"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="person">
        <br /><br />
        <img
          loading="lazy"
          src="https://media.licdn.com/dms/image/D4D03AQHM3DHL8s69IA/profile-displayphoto-shrink_400_400/0/1707847086330?e=1728518400&v=beta&t=xgJgQitvbO6UhdpIy76gwAuk4fwpN_3atVJl_LGDx2k"
          alt=""
        />
        <br />
        <h3>Ms. Rushitha Kamepalli</h3>
        <p>School of Cyber Security & Digital Forensics</p>
        <div class="socials row pop-out">
          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://in.linkedin.com/in/rushitha-kamepalli-b87193199"
            ><i class="fa-brands fa-linkedin" style="color: #0077b5"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            href="https://twitter.com/iamrushitha"
            ><i class="fa-brands fa-x-twitter" style="color: black"></i>
          </a>

          <a
            target="_blanck"
            class="card-links pop-out col"
            style="color: rgb(239, 61, 91)"
            href="https://www.instagram.com/rushitha_kamepalli/"
            ><i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
