<%layout("/layouts/boilerplate.ejs")%>
<div class="eventSpecificBig">
  <h1>
    Exploring the World of Communication: HAM Radio Live Demo by Mr. Pravin
    Chandulal Valera
  </h1>
  <h2>Speaker: Mr. Praveen Chandulal Valera</h2>
  <h2>Info about Speaker: Ham radio Enthusiast.</h2>
  <h2>Date: 23rd November, 2024</h2>
  <h2>Venue: Upper Auditorium, NFSU, Gandhinagar</h2>
  <h2>Attendees: 105 Students</h2>
  <h3>Introduction:</h3>
  <p>
    An inspiring session at NFSU, featuring Mr. Pravin Chandulal Valera, a
    renowned HAM radio operator, who shared his insights on the world of amateur
    radio, its applications, and its potential for innovation and service.
  </p>
  <h3>Key Points Covered:</h3>
  <ul>
    <li>
      Introduction to HAM Radio: Mr. Valera began by introducing HAM radio,
      explaining how it serves as a medium for enthusiasts and professionals to
      communicate wirelessly across vast distances. HAM radio is not just a
      hobby but a tool for fostering global connections and aiding disaster
      management.
    </li>
    <li>
      Technical Insights: The session delved into the fundamentals of radio
      transmission, including: Basics of frequency modulation and amplitude
      modulation. The technical setup of HAM radio stations. Licensing
      requirements and procedures to become a certified HAM operator.
    </li>
    <li>
      Live Demonstration: A significant highlight of the event was the live
      demo, where Mr. Valera operated a HAM radio setup. Attendees witnessed:
      Real-time radio communication with other HAM operators globally. How
      operators use call signs to establish contact and exchange information. A
      demonstration of Morse code communication, showcasing its relevance even
      today.
    </li>
    <li>
      Applications of HAM Radio: Mr. Valera shared inspiring real-life
      applications of HAM radio, including: Emergency communication during
      natural disasters when other networks fail. Promoting international
      goodwill and cultural exchange. Opportunities for tech enthusiasts to
      innovate with radio systems.
    </li>

    <li>
      Q&A and Interactive Participation The session concluded with an engaging
      Q&A segment where students explored: The role of HAM radio in modern
      technology and research. Its integration with contemporary tools like
      satellites and digital modes. Career prospects and innovation
      opportunities in the field.
    </li>
  </ul>
  <h3>Conclusion:</h3>
  <p>
    HAM radio exemplifies the spirit of exploration and problem-solving, making
    it an invaluable skill set for engineering and technology students. Beyond
    technical aspects, it fosters community building, a passion for learning,
    and readiness to contribute during crises.
    <br />
    We extend our heartfelt gratitude to Mr. Pravin Chandulal Valera for sharing
    his expertise and passion for HAM radio. The session not only deepened our
    understanding of communication technology but also inspired us to explore
    new possibilities in this field. The IEEE Student Chapter Society remains
    committed to bringing such enriching sessions for students to learn,
    innovate, and grow.
  </p>
  <div class="imagesDiv">
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379404/WhatsApp_Image_2024-11-23_at_11.38.45_2_uydmkj.jpg"
      alt="Image 1"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379403/WhatsApp_Image_2024-11-23_at_11.38.45_1_xcbbmj.jpg"
      alt="Image 2"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379401/WhatsApp_Image_2024-11-23_at_11.38.45_qlbiu1.jpg"
      alt="Image 3"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379396/WhatsApp_Image_2024-11-23_at_11.38.46_yp6tbf.jpg"
      alt="Image 4"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379390/WhatsApp_Image_2024-11-23_at_11.38.44_2_wzwmej.jpg"
      alt="Image 5"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379387/WhatsApp_Image_2024-11-23_at_11.38.43_1_wsqttr.jpg"
      alt="Image 6"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379386/WhatsApp_Image_2024-11-23_at_11.38.43_ebjtn0.jpg"
      alt="Image 7"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379384/WhatsApp_Image_2024-11-23_at_11.38.43_2_xf1yyv.jpg"
      alt="Image 8"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379384/WhatsApp_Image_2024-11-23_at_11.38.44_i0lxru.jpg"
      alt="Image 9"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379376/WhatsApp_Image_2024-11-23_at_11.38.44_1_gw1dai.jpg"
      alt="Image 10"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379374/WhatsApp_Image_2024-11-23_at_11.38.42_bvci0u.jpg"
      alt="Image 11"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379369/WhatsApp_Image_2024-11-23_at_11.38.42_2_eyd8km.jpg"
      alt="Image 12"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379366/WhatsApp_Image_2024-11-23_at_11.38.41_h1q3ik.jpg"
      alt="Image 13"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379366/WhatsApp_Image_2024-11-23_at_11.38.37_zbti86.jpg"
      alt="Image 14"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379366/WhatsApp_Image_2024-11-23_at_11.38.42_1_pbdqom.jpg"
      alt="Image 15"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379365/WhatsApp_Image_2024-11-23_at_11.38.39_1_g5vbpf.jpg"
      alt="Image 16"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379363/WhatsApp_Image_2024-11-23_at_11.38.38_1_yj4psr.jpg"
      alt="Image 17"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379358/WhatsApp_Image_2024-11-23_at_11.38.41_1_twtyep.jpg"
      alt="Image 18"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379356/WhatsApp_Image_2024-11-23_at_11.38.38_hc6qop.jpg"
      alt="Image 19"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379354/WhatsApp_Image_2024-11-23_at_11.38.40_1_arl8m1.jpg"
      alt="Image 20"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379353/WhatsApp_Image_2024-11-23_at_11.38.36_2_qam70p.jpg"
      alt="Image 21"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379353/WhatsApp_Image_2024-11-23_at_11.38.40_ygbgjs.jpg"
      alt="Image 22"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379336/WhatsApp_Image_2024-11-23_at_11.38.37_1_sge3hw.jpg"
      alt="Image 23"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379336/WhatsApp_Image_2024-11-23_at_11.38.36_iellnt.jpg"
      alt="Image 24"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379330/WhatsApp_Image_2024-11-23_at_11.38.36_1_jp24tx.jpg"
      alt="Image 25"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379326/WhatsApp_Image_2024-11-23_at_11.38.39_gcttns.jpg"
      alt="Image 26"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379324/WhatsApp_Image_2024-11-22_at_18.24.05_1_bcekbv.jpg"
      alt="Image 27"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379324/WhatsApp_Image_2024-11-22_at_18.24.06_a9piwc.jpg"
      alt="Image 28"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379324/WhatsApp_Image_2024-11-22_at_18.24.05_2_ahzlu4.jpg"
      alt="Image 29"
    />
    <img
      src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1732379323/WhatsApp_Image_2024-11-22_at_18.24.05_hnkpnn.jpg"
      alt="Image 30"
    />
  </div>
</div>
